# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.vscode/*
!.vscode/settings.json
.idea/

# Logs
*.log

# Optional: artifacts (uncomment if donot want  to version them)
# artifacts/
# models/
