version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: deployment/docker/Dockerfile
    container_name: heart-api
    ports:
      - "8000:8000"
    environment:
      MLFLOW_TRACKING_URI: "http://mlflow:5000"
      MLFLOW_RUN_ID: "PUT_YOUR_RUN_ID_HERE"
      MLFLOW_MODEL_ARTIFACT_PATH: "model"
      MODEL_LOAD_RETRY: "true"
      MODEL_LOAD_RETRY_SECONDS: "20"
    depends_on:
      - mlflow
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 20s
      timeout: 5s
      retries: 5

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.12.1
    container_name: mlflow
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri /mlruns
      --artifacts-destination /mlruns
    volumes:
      - mlruns:/mlruns

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - api

  grafana:
    image: grafana/grafana:10.4.5
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  mlruns:
  grafana-data:
